html,
body {
  height: 100%;
  margin: 0;
}

html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
}

.swal2-container {
  z-index: 99999 !important;
}
